<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/assets/css/homepage.css">
</head>

<%- include("../layouts/header.ejs") %>

    <div class="top">
        <div class="top_img">
            <%=  %>
            <img src="http://localhost:8000/public/<%= topcontent.image_path %>" alt="" class="top_img_img">
        </div>
        
        
        <div class="right_wrapper">
            <div class="right">
                <div class="note top_note"><%= topcontent.content_note %></div>

                <div class="content_title_wrapper">
                    <div class="content_title top_title"><%= topcontent.title %></div>
                </div>
                
                <div class="content_mini top_text"><%= topcontent.content_text %></div>
                <a href="http://localhost:8000/contentpage/<%=topcontent.content_id%>"><div >continue reading</div></a>
            </div>
        </div>
        
    </div>
    
    <div class="content">

            <div class="content_left">
                <div class="content_header">
                    <span class="content_header_items">ALL</span>
                    <span class="content_header_items">LATEST</span>
                    <span class="content_header_items">HAIR</span>
                    <span class="content_header_items">LIFESTYLE</span>
                </div>

                <% lastfourcontentaccseptfirst.forEach(data => { %>
                    <div class="main_contents">
                        <div class="main_contents_inside">
                            <div class="main_contents_inside_img">
                                <img class="main_contents_inside_img_img img1" src="http://localhost:8000/public/<%= data.image_path %>" alt="">
                            </div>
    
                            <div class="content_inside_text">
                                <span class="note note1"><%= data.note %></span>
                                <h3 class="content_h1 title1"><%= data.title %></h3>
                                <span class="content_inside_explanation explanation1"><%= data.content_text %></span>
                                <a href="http://localhost:8000/contentpage/<%=data.content_id%>"><div >continue reading</div></a>
                            </div>
                            
                        </div>
                    </div>
                <% }) %>
            </div>


            <div class="content_right">
                <div class="content_header" id="content_header_right">
                    <span class="content_header_items">MUST READ</span>
                </div>

                <% rightfourcontent.forEach(data => { %>
                    <div class="content_right_segment">
                        <div class="content_right_note rightnote1"><%= data.note %></div>
                        <div class="content_right_h3 righttitle1"><%= data.title %></div>
                    </div>
                <% }) %>

                <div class="get_email">
                    <div class="v_logo">V</div>
                    <h1 class="get_email_header">Get new blogs to your email !</h1>
                    <input type="email" name="email" id="email" class="email" placeholder="Your Email">
                    <button class="button">Gönder</button>
                </div>


            </div>
    </div>

    <%- include("../layouts/footer.ejs") %>
    <script src="../../../public/assets/js/homepage.js"></script>
</body>
</html>