<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="http://localhost:8000/public/<%=wantedcontent.image_path%>" alt="" id="imgcurrent"><br>

    <form action="http://localhost:8000/admin/update/<%=id%>" method="post" enctype="multipart/form-data" id="form">
        
        <label for="imageUpload">resim seç</label><br> 
        <input type="file" id="imageUpload" name="imageUpload" accept="image/*"><br>
    
        <span>note</span><br>
        <input type="text" name="note" id="note" value="<%= wantedcontent.note %>"><br>
        
        <span>content</span><br>
        <textarea id="longText" name="content_text" rows="10" cols="50"><%= wantedcontent.content_text %></textarea><br>
        
        <span>title</span><br>
        <input id="title" type="text" name="title" value="<%= wantedcontent.title %>"><br>
    
        <span>title inside of content</span><br>
        <input type="text" id="content_inside_title" name="content_inside_title" value="<%= wantedcontent.content_inside_title %>"><br>
    
        <input checked="<% if (wantedcontent.tag_id==1) { %> true <% } %>" type="radio" id="Hair" name="tag" value="Hair">
        <label for="Hair">Hair</label><br>
    
        <input checked="<% if (wantedcontent.tag_id==2) { %> true <% } %>"  type="radio" id="Lifestyle" name="tag" value="Lifestyle">
        <label for="Lifestyle">Lifestyle</label><br>
    
        <input checked="<% if (wantedcontent.tag_id==3) { %> true <% } %>"  type="radio" id="must_read" name="tag" value="must_read">
        <label for="must_read">must_read</label><br>

        <br>
        <button>gönder</button>
    </form>

    <script src="../../../public/assets/js/change_detail.js"></script>
</body>
</html>